<section class="how-work">
  <div class="mbox">
    <h2>КАК МЫ РАБОТАЕМ</h2>
    <p>После оформления заявки вы БЕСПЛАТНО получаете следующий комплекс услуг</p>
    <div class="how-work-info">
      <div class="how-work-item">
        <img src="images/table-icon.png" alt="Table">
        <p>встреча, выслушивание требований</p>
      </div>
      <div class="how-work-item">
        <img src="images/object-icon.png" alt="Object">
        <p>осмотр объекта</p>
      </div>
      <div class="how-work-item">
        <img src="images/dollar-icon.png" alt="Dollar">
        <p>составление сметы по объекту</p>
      </div>
    </div>
    <p>Дизайн нельзя измерить квадратными метрами, часами или килограммами. У нас нет фиксированной цены и каждый проект рассчитывается индивидуально.</p>
  </div>
</section>