<section class="advantages">
  <div class="mbox">
    <h2>НАШИ ПРЕИМУЩЕСТВА</h2>
    <p class="advantages-text">Интерьеры, в которых можно продуктивно работать, наслаждаться жизнью это наша цель и любовь. Не стремление попасть на обложку журнала, а создавать пространство, продуманное нами от самого начала и до конца реализации.</p>
    <div class="advantages-info">
      <div class="advantages-info-item">
        <img src="images/scores-icon.png" alt="Scores">
        <p>Мы работаем с вашим заранее заданным бюджетом</p>
      </div>
      <div class="advantages-info-item">
        <img src="images/location-icon.png" alt="Location">
        <p>Обязательно сопровождаем и следим за проектом в любом городе</p>
      </div>
      <div class="advantages-info-item">
        <img src="images/documents-icon.png" alt="Documents">
        <p>Выдаем на руки все артикулы и площади. У нас бесплатная комплектация</p>
      </div>
    </div>
    <a class="button button-white" href="#">УЗНАТЬ БОЛЬШЕ</a>
    <a class="button button-orange" href="#block-5">ОФОРМИТЬ ЗАЯВКУ</a>
    
  </div>
</section>