<section class="block-5" id="block-5">
    <div class="top">
        <div class="mbox">
            <div class="lr-container">
                <div class="left">
                    <div class="title">
                        <h3>ОФОРМЛЯЙТЕ ЗАЯВКУ<br>ПРЯМО СЕЙЧАС и <span>получайте скидку 10% </span> на дизайн</h3>
                    </div>
                    <div class="text">
                        <p>Деньги и время, сэкономленные с нами, окупают стоимость наших услуг.</p>
                    </div>
                </div>
                <div class="right">
                    <form class="form">
                        <input type="text" name="name" placeholder="Введите ваше имя" required> 
                        <input type="tel" class="tel-mask" name="phone" placeholder="Введите ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Введите ваш e-mail" required>
                        <button class="button button-orange" type="submit">
                            <span >Отправить заявку</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="mbox">
            <div class="lr-wrapper">
                <div class="left">
                    <a href="#"><img src="images/b1-logo.png" alt=""></a>
                </div>
                <div class="right">
                    <a href="#"><img src="images/b-5-1.png" alt=""></a>
                    <a href="#"><img src="images/b-5-2.png" alt=""></a>
                    <a href="#"><img src="images/b-5-3.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>