<section class="block-3">
	<div class="main-wrap">
		<div class="big-slider">
			<!-- <div class="slide">
				<img src="images/photo_2016-10-03_13-11-08.jpg">
			</div> -->
			<div class="slide">
				<img src="images/photo_2016-10-03_13-10-53.jpg">
			</div>
			<div class="slide">
				<img src="images/photo_2016-10-03_13-11-00.jpg">
			</div>
			<!-- <div class="slide">
				<img src="images/photo_2016-10-03_13-11-04.jpg">
			</div> -->
		</div>
		<div class="side-bar">
			<div class="content">
				<div class="heading">
					<h2>Уют<br> начинается с планировки</h2>
					<p>Здесь вы можете детальнее ознакомится с нашими проектами и оценить наши возможности</p>
				</div>
				<ul>
					<li><a href="#">ИНТЕРЬЕРЫ</a></li>
					<li><a href="#">АРХИТЕКТУРА</a></li>
					<li><a href="#">КОММЕРЦИЯ</a></li>
				</ul>
				<a href="#" class="all-projects">
					<span>ВСЕ ПРОЕКТЫ</span>
				</a>
			</div>
		</div>
		<a href="#" class="all-projects">
			<span>ВСЕ ПРОЕКТЫ</span>
		</a>
	</div>
	
</section>